.headerComponent {
    width: 100%;
    display: flex;
    flex-direction: row;
    background: linear-gradient(to bottom, #5267cf 0%, #202f7e 100%);
}

.headerItem {
    background: linear-gradient(to bottom, #5267cf 0%, #202f7e 100%);
    padding: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
    border-right: 1px solid #8c94b6;

    &:hover {
        background: linear-gradient(to top, #5267cf 0%, #202f7e 100%);
    }
}

.headerItemLeft {
    border-left: 1px solid #8c94b6;
    border-right: none;
}

.headerItemActive {
    background: linear-gradient(to bottom, #2e3c82 0%, #0e184f 100%);
}
