.button {
    background: #d1d1d1;
    border-radius: 5px;
    cursor: pointer;
    padding: 3px;
    width: 100px;
    text-align: center;
    margin: 3px;
    font-size: 12px;

    &:hover {
        background: #bebebe;
    }
}

.buttonReadonly {
    background: #ababab;
    color: gray;
    cursor: default;

    &:hover {
        background: #ababab;
    }
}
